<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <% @product.each do |product| %>
            <% if product.image.present? %>
                <%= image_tag product.image_url  %>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.description %></p>
            </div>
            <div class="card-footer">
            <small class="text-muted"><%= product.price %></small>
            </div>
            <% end %>
        </div>
    </div>
</div>